<div class="com-md-12 course-detail">
	<h1>{{CourseCtrl.course.name}}</h1>
	<p>{{CourseCtrl.course.description}}</p>
	<div class="col-md-4 course-detail" ng-repeat="video in CourseCtrl.course.video_list" ng-show="CourseCtrl.isShow($index)" ng-click="CourseCtrl.videoOpen($index)">
		<video id="video_webinar_1" poster="">
	        <source ng-src="{{'http://localhost/test/Angular/'+video.url}}" type="video/mp4">
	        <source ng-src="{{'http://localhost/test/Angular/'+video.url}}" type="video/ogg">
	    </video>
	    <label>{{video.title}}</label>
	</div>
</div>