<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="home">
				LearningHere
			</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li class="active"><a class="home" href="home">Home</a></li>
				<li><a class="about" href="about">About Us</a></li>
				<li class="dropdown">
					<a class="courses dropdown-toggle" data-toggle="dropdown" href="javascript:;">Courses<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a class="courses" href="courses">List</a></li>
						<li><a class="courses-find" href="courses/find">Find Course</a></li>
					</ul>
				</li>
				<li class="dropdown">
					<a class="example dropdown-toggle" data-toggle="dropdown" href="javascript:;">Examples<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a class="example" href="exampleone">One</a></li>
					</ul>
				</li>
				<li><a class="contact" href="contact">Contact Us</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right" ng-if="isLoggedIn">
				<li><a href="javascript:;" ng-click="SignupOpen()" data-toggle="modal" data-target="#dv_modal"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
				<li><a href="javascript:;" ng-click="LoginOpen()" data-toggle="modal" data-target="#dv_modal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right" ng-if="!isLoggedIn">
				<li><p class="navbar-text">Signed in as Mark Otto</p></li>
				<li><a href="javascript:;" ng-click="HeaderCtrl.LogoutUser()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
			</ul>
		</div>
	</div>
</nav>

<div id="dv_modal" class="modal fade" role="dialog" ng-if="isShowLogin || isShowSignup">
	<div class="modal-dialog">
		<div class="modal-content">
			<login-form ng-if="isShowLogin"></login-form>
			<signup-form ng-if="isShowSignup"></signup-form>
		</div>
	</div>
</div>